workflows/Auto_Backup_n8n_Workflows_to_GitHub_wbbXKI54lUNzBycx_20251219_040631.json
{
  "updatedAt": "2025-12-19T09:05:15.958Z",
  "createdAt": "2025-12-19T09:05:15.958Z",
  "id": "wbbXKI54lUNzBycx",
  "name": "Auto Backup n8n Workflows to GitHub",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "df281924-05df-43d1-805b-3dc7b8aab887",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:5678/api/v1/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI0MjcxOWMyNi01NWM1LTQxYjItODAzNi01YTUzNjg2MzEyYjciLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzY2MTMzNjM2LCJleHAiOjE3Njg3MTI0MDB9.PMkC2Xz7XVHUDzB8NWF9w6wUnIEYtNGMFl1PBmOFAMg"
            }
          ]
        },
        "options": {}
      },
      "id": "3f41ae14-d3aa-4b91-92a5-12ebe140e771",
      "name": "Get All Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\n// 遍历 API 返回的所有工作流数据\nfor (const item of items[0].json.data) {\n  results.push({\n    json: {\n      id: item.id,\n      name: item.name,\n      active: item.active,\n      nodes: item.nodes,\n      connections: item.connections,\n      settings: item.settings,\n      // 生成文件名：替换掉特殊字符，防止文件名非法\n      fileName: `workflows/${item.name.replace(/[^a-zA-Z0-9-_]/g, '_')}_${item.id}.json`,\n      // 将整个对象转为格式化的 JSON 字符串\n      fileContent: JSON.stringify(item, null, 2)\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "57260961-0d02-4c35-a88d-37dded01aa68",
      "name": "Format Data & Filename",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "jxtanchris",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "name"
        },
        "filePath": "={{ $json.fileName}}",
        "additionalParameters": {}
      },
      "id": "1004a3e9-a615-47cf-a204-81d20254db7c",
      "name": "get GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        0,
        224
      ],
      "webhookId": "3493279d-2ded-4ff9-aaf2-1616290d10cb",
      "credentials": {
        "githubApi": {
          "id": "91sfk1dMtcc1AAlW",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "73c238ed-22ed-4e61-924f-ef709e434f4f",
              "leftValue": "=$json.sha",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        224
      ],
      "id": "13c1d465-faf2-421f-963b-20223f018373",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "jxtanchris",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "name"
        },
        "filePath": "={{ $node[\"Format Data & Filename\"].json.fileName.replace('.json', '') }}_{{ $now.toFormat('yyyyMMdd_HHmmss') }}.json",
        "fileContent": "={{ $node[\"Format Data & Filename\"].json.fileContent }}",
        "commitMessage": "=Backup: {{ $json.name }} "
      },
      "id": "6a4d5c32-fa15-419b-859b-dc1a21442bca",
      "name": "first commit to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "webhookId": "3493279d-2ded-4ff9-aaf2-1616290d10cb",
      "credentials": {
        "githubApi": {
          "id": "91sfk1dMtcc1AAlW",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "jxtanchris",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "name"
        },
        "filePath": "={{ $node[\"Format Data & Filename\"].json.fileName }}",
        "fileContent": "={{ $node[\"Format Data & Filename\"].json.fileContent }}",
        "commitMessage": "=Backup: {{ $('get GitHub').item.json.content.name }}"
      },
      "id": "b07d02e3-2e44-4a68-8d3b-be433240d475",
      "name": "edit with GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        448,
        224
      ],
      "webhookId": "3493279d-2ded-4ff9-aaf2-1616290d10cb",
      "credentials": {
        "githubApi": {
          "id": "91sfk1dMtcc1AAlW",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "尝试先判断文件是否存在\n存在则更新\n不存在则新建文件到github上，\n但因为SHA 走不通",
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -192,
        224
      ],
      "id": "c7ee0279-ba8f-4fa8-9d8c-2bba1030eac9",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get All Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Workflows": {
      "main": [
        [
          {
            "node": "Format Data & Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data & Filename": {
      "main": [
        [
          {
            "node": "first commit to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get GitHub": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "edit with GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "42b92b38-8b65-4321-b5fb-e731ca5b1d1a",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-19T09:05:15.962Z",
      "createdAt": "2025-12-19T09:05:15.962Z",
      "role": "workflow:owner",
      "workflowId": "wbbXKI54lUNzBycx",
      "projectId": "SETuOI0q3TN4aDy1"
    }
  ],
  "activeVersion": null,
  "tags": []
}