workflows/Auto_Backup_n8n_Workflows_to_GitHub_zdcGg0PoEqTQuGg8_20251219_040632.json
{
  "updatedAt": "2025-12-19T09:00:16.779Z",
  "createdAt": "2025-12-19T08:48:41.766Z",
  "id": "zdcGg0PoEqTQuGg8",
  "name": "Auto Backup n8n Workflows to GitHub",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -320,
        -32
      ],
      "id": "f9c79f19-c70f-41f7-87a7-2e363d17a70e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://localhost:5678/api/v1/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI0MjcxOWMyNi01NWM1LTQxYjItODAzNi01YTUzNjg2MzEyYjciLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzY2MTMzNjM2LCJleHAiOjE3Njg3MTI0MDB9.PMkC2Xz7XVHUDzB8NWF9w6wUnIEYtNGMFl1PBmOFAMg"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -112,
        -32
      ],
      "id": "60844167-466f-4b50-96fe-82eb0ace9ad7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Loop over input items and add a new field called 'my_new_field' to the JSON of each one\nfor item in _items:\n  item[\"json\"][\"my_new_field\"] = 1\nreturn _items"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -32
      ],
      "id": "bef3d30f-dbaf-46e6-9dfa-491c61ff89fb",
      "name": "Code in Python (Native)"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        304,
        -32
      ],
      "id": "3d8b8619-ca67-4e36-9ec2-c33790c15e4e",
      "name": "Create a file",
      "webhookId": "97a586fe-f308-4223-bddf-f55aa043d9e9",
      "credentials": {
        "githubApi": {
          "id": "91sfk1dMtcc1AAlW",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://localhost:5678/api/v1/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIyMGNkNTY5Zi03NTQ5LTRiNjItODFjNi1kNWNjMzcyMzZmZDIiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzY1MjY5NzA0fQ.xHZta0qdtVTgiA6NovmruDd5ok_lqSnRvcY3GDpJFbA"
            }
          ]
        },
        "options": {}
      },
      "id": "291df6d0-42b0-4904-9b33-b034a618b64a",
      "name": "Get All Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        96,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\n// 遍历 API 返回的所有工作流数据\nfor (const item of items[0].json.data) {\n  results.push({\n    json: {\n      id: item.id,\n      name: item.name,\n      active: item.active,\n      nodes: item.nodes,\n      connections: item.connections,\n      settings: item.settings,\n      // 生成文件名：替换掉特殊字符，防止文件名非法\n      fileName: `workflows/${item.name.replace(/[^a-zA-Z0-9-_]/g, '_')}_${item.id}.json`,\n      // 将整个对象转为格式化的 JSON 字符串\n      fileContent: JSON.stringify(item, null, 2)\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "5e9aff68-c79c-4e14-821e-1367fe55fd28",
      "name": "Format Data & Filename",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        336
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "niklaus2008",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "name"
        },
        "filePath": "={{ $json.fileName}}",
        "additionalParameters": {}
      },
      "id": "8cd57bfe-61e1-46a4-a4a2-7577612003ea",
      "name": "get GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -128,
        560
      ],
      "webhookId": "3493279d-2ded-4ff9-aaf2-1616290d10cb",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "73c238ed-22ed-4e61-924f-ef709e434f4f",
              "leftValue": "=$json.sha",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        560
      ],
      "id": "ad240861-9f0e-4f67-b6e0-44f479c55a7b",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "niklaus2008",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "name"
        },
        "filePath": "={{ $node[\"Format Data & Filename\"].json.fileName.replace('.json', '') }}_{{ $now.toFormat('yyyyMMdd_HHmmss') }}.json",
        "fileContent": "={{ $node[\"Format Data & Filename\"].json.fileContent }}",
        "commitMessage": "=Backup: {{ $json.name }} "
      },
      "id": "6e7405e6-d02c-4a1c-9007-84d5fa5de9dd",
      "name": "first commit to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        544,
        336
      ],
      "webhookId": "3493279d-2ded-4ff9-aaf2-1616290d10cb"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "niklaus2008",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "name"
        },
        "filePath": "={{ $node[\"Format Data & Filename\"].json.fileName }}",
        "fileContent": "={{ $node[\"Format Data & Filename\"].json.fileContent }}",
        "commitMessage": "=Backup: {{ $('get GitHub').item.json.content.name }}"
      },
      "id": "b35b3fdc-8c98-476c-8315-43a24776d600",
      "name": "edit with GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        320,
        560
      ],
      "webhookId": "3493279d-2ded-4ff9-aaf2-1616290d10cb"
    },
    {
      "parameters": {
        "content": "尝试先判断文件是否存在\n存在则更新\n不存在则新建文件到github上，\n但因为SHA 走不通",
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        560
      ],
      "id": "434e1410-2e26-49b0-892d-6a37bdf71afe",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "0df195fb-7942-4fcf-9d5d-440f45180dbb",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -128,
        336
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in Python (Native)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Native)": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Workflows": {
      "main": [
        [
          {
            "node": "Format Data & Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data & Filename": {
      "main": [
        [
          {
            "node": "first commit to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get GitHub": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "edit with GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get All Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "098ca209-1655-4d23-baf2-34e311cea88a",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-19T08:48:41.777Z",
      "createdAt": "2025-12-19T08:48:41.777Z",
      "role": "workflow:owner",
      "workflowId": "zdcGg0PoEqTQuGg8",
      "projectId": "SETuOI0q3TN4aDy1"
    }
  ],
  "activeVersion": null,
  "tags": []
}